{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="mt-2 card card-primary">    
        <form method="POST">{% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.old_password|as_crispy_field }}
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            {{ form.new_password1|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <button class="mt-1 btn btn-danger">تغییر کلمه عبور</button></form>
        </form>
    </div>
{% endblock %}