{% extends 'registration/base_login.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block form %}
    <span class="login100-form-title p-b-26 my_font">
        ثبت نام شما با موفقیت انجام شد.
    </span>
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <a href="{% url 'login' %}"><button class="login100-form-btn my_font">
                ورود
            </button>
            </a>
        </div>
    </div>
</form>
{% endblock %}