{% extends 'accounts/base.html' %}
{% load tags %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                {% if object_list %}
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>عنوان تغییر</th>
                                <th class='d-none d-lg-table-cell'>کلاس</th>
                                <th class='d-none d-lg-table-cell'>زمان تغییر</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for entry in object_list %}
                                    <tr>
                                        <td>
                                            <a href="{{ entry.log.get_admin_url }}">{{ entry.log }}</a>
                                            </a>
                                        </td>
                                        <td>
                                            {% if entry.log.content_type %}
                                                {{ entry.log.content_type.name }}
                                            {% else %}
                                                نامشخص
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ entry.jpublished }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="card-body table-responsive text-right p-6">
                        <h3>لاگی موجود نیست.</h3>
                    </div>
                {% endif %}
                    <!-- /.card-body -->
            </div>
        <!-- /.card -->
        </div>
    </div>
{% endblock %}