{% load static %}
{% load tags %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar my_font sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'account/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text my_font font-weight-light">پنل مدیریت</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'account/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.get_full_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% active request 'پروفایل' 'accounts:profile' 'fa-user' %}
          {% active request 'تغییر گذرواژه' 'password_change' 'fa-user-edit' %}
            <li class="nav-item has-treeview menu-open">
              {% if user.is_superuser or user.is_staff or user.is_author %}
                <a href="{% url 'accounts:list' %}" class="nav-link active">
                  <p>
                    مقالات
                    <i class="right fa fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    {% active request 'لیست مقالات' 'accounts:list' 'fa-list' %}
                    {% active request 'مقاله جدید' 'accounts:create' 'fa-pen' %}
                </ul>
              </li>
            <li class="nav-item has-treeview menu-open">
                <a href="{% url 'accounts:list' %}" class="nav-link active">
                  <p>
                    دسته بندی ها
                    <i class="right fa fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    {% active request 'لیست دسته ها' 'accounts:cat_list' 'fa-list-alt' %}
                    {% active request 'دسته جدید' 'accounts:cat_create' 'fa-pen-alt' %}
                </ul>
              {% endif %}
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>