{% extends 'blog/base.html' %}
{% load tags %}
{% block head_title %}
home page
{% endblock %}
{% block head_description %}{% endblock %}
{% block blog_post %}
    {% for article in object_list %}
        <div class="card mb-4">
            <a href="{% url 'blog:single' article.slug %}"><img class="card-img-top" src="{{ article.image.url }}"  alt="{{ article.slug}}" style='height:300px;' /></a>
            <div class="card-body">
                <div class="small text-muted">{{ article.jpublished }}</div>
                <a href="{% url 'blog:single' article.slug %}"<h2 class="card-title">{{ article.title }}</h2></a>
                    <p class="card-text">{{ article.description|safe|truncatewords:20 }}</p>
                {% for cat in article.category.shown %}
                    <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{% block next_page %}{% endblock %}">مقالات قدیمی تر</a>
    {% endif %}
    {% if page_obj.has_previous %}
    <a href="{% block previous_page %} {% endblock %}">مقالات جدید تر</a>
{% endif %}
{% endblock %}