{% extends 'blog/base.html' %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block head_title %}
    {{object.title}}
{% endblock %}
{% block blog_post %}
    <div class="card mb-1">
        <img class="card-img-top" src="{{ object.image.url }}"  alt="{{ object.slug}}" style='height:300px;' />
        <div class="card-body">
        
            <div class="small text-muted">
                {{ object.jpublished }}
            </div>
            
            {% if not article.is_special or user.is_specialuser or article.author == user %}
                {{ article.description|safe|linebreaks|truncatewords:'20' }}
            {% else %}
                <p>شما دسترسی ندارید.</p>
            {% endif %}
            
            {% for cat in object.category.shown %}
            <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>
            {% endfor %}
        
        </div>
    </div>
{% endblock %}