{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load hitcount_tags %}

{% block title %}
    {{ object.title }}
{% endblock %}
{% block head_title %}
    {{object.title}}
{% endblock %}
{% block blog_post %}
    <div class="card mb-1">
        <img class="card-img-top" src="{{ object.image.url }}"  alt="{{ object.slug}}" style='height:300px;' />
        <div class="card-body">

            <div class="small text-muted">
                {{ object.jpublished }}
                | تعداد بازدید: {% get_hit_count for object %}
            </div>

            {% if not article.is_special or user.is_specialuser or article.author == user %}
            {{ object.description|safe|linebreaks }}

            {% else %}
                <p>شما دسترسی ندارید.</p>
            {% endif %}

            {% for cat in object.category.shown %}
            <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>
            {% endfor %}

        </div>
    </div>


    <div class="card mb-12">
        <div class="card-header">نظرات</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled mb-0">
                        <li>
                           {% for comment in object.comments.published %}
                            <div class="comments" style="padding: 10px;">
                              <p>
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">
                                  {{ comment.jpublished }}
                                </span>
                              </p>
                              {{ comment.body|safe|linebreaks }}
                            <hr>
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--form-->
        <div class="mt-2 card card-primary">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ form.body|as_crispy_field }}
                        </div>
                                   </div>
                    </div>
                <button class="btn btn-primary">ثبت</button></form>
        </form>
    </div></div>

{% endblock %}