{% extends 'blog/base.html' %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block head_title %}
{{object.title}}
{% endblock %}
{% block blog_post %}
    <div class="card mb-1">
        <img class="card-img-top" src="{{ object.image.url }}"  alt="{{ object.slug}}" style='height:300px;' />
        <div class="card-body">
            <div class="small text-muted">{{ object.jpublished }}</div>
            {% if object.is_special %}
                {% if user.is_authenticated and user.is_superuser or user.is_superuser or user.is_staff or object.author == user %}
                    <p class="card-text">{{ object.description|linebreaks }}</p>
                {% else %}
                    <p>شما دسترسی ندارید.</p>
                {% endif %}
            {% else %}
                <p class="card-text">{{ object.description|linebreaks }}</p>
            {% endif %}
                {% for cat in object.category.shown %}
                <a href="{% url 'blog:category' cat.slug %}">#{{ cat.title }}</a>
        {% endfor %}
        </div>
    </div>
{% endblock %}