{% extends 'blog/base.html' %}
{% load tags %}
{% load hitcount_tags %}

{% block head_title %}
لیست مقالات
{% endblock %}
{% block head_description %}{% endblock %}
{% block blog_post %}
    {% for article in object_list %}
        <div class="card mb-4">
            <a href="{% url 'blog:single' article.slug %}"><img class="card-img-top" src="{{ article.image.url }}"  alt="{{ article.slug}}" style='height:300px;' /></a>
            <div class="card-body">
                <div class="small text-muted">
                    {% if article.is_special %}
                        <span class="badge" style="background-color: #a21515;">مقاله ویژه</span><br>
                    {% endif %}
                    {{ article.jpublished }}
                    | تعداد بازدید: {% get_hit_count for article %}

                </div>
                <a href="{% url 'blog:single' article.slug %}">
                    <h2 class="card-title">
                        {{ article.title }}
                    </h2>
                </a>
                <p class="card-text">
                    {% if not article.is_special or user.is_specialuser or article.author == user %}
                        {{ article.description|safe|linebreaks|truncatewords:'20' }}
                    {% else %}
                        <p>شما دسترسی ندارید.</p>
                    {% endif %}
                </p>
                <a href="{% url 'blog:user' article.author.username%}">
                    <sm>
                        نویسنده: {{ article.author.get_full_name }}
                    </sm>
                </a>
                {% for cat in article.category.shown %}
                    <a href="{% url 'blog:category' cat.slug %}">
                        #{{ cat.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% empty %}
    <h1>مقاله ای موجود نیست.</h1>
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{% block next_page %}{% endblock %}">مقالات قدیمی تر</a>
    {% endif %}
    {% if page_obj.has_previous %}
    <a href="{% block previous_page %} {% endblock %}">مقالات جدید تر</a>
{% endif %}
{% endblock %}