{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="mt-2 card card-primary">    
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.slug|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.image|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.published|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-md-6 pt-2">
                            {{ form.is_special|as_crispy_field }}
                        </div>
                        {% if user.is_superuser %}
                        <div class="col-md-6">
                            {{ form.author|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.status|as_crispy_field }}
                        </div>
                        {% else %}
                            <div>
                                <div>
                                    <label for="id_status"> وضعیت* </label>
                                    <div>
                                        <select name="status" required="">
                                            <option selected="selected" value="">---------</option>
                                            <option value="d">پیش نویس</option>
                                            <option value="p">انتشار</option>
                                        </select>
                                    </div>
                                </div>
                            </div>     
                        {% endif %}
                    </div>
                    <button class="btn btn-primary">ثبت</form>
        </form>
    </div>
{% endblock %}