{% extends 'registration/base.html' %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>عنوان</th>
                        <th>تصویر</th>
                        <th>خلاصه</th>
                        <th>دسته بندی</th>
                        <th>نویسنده</th>
                        <th>تاریخ انتشار</th>
                        <th>وضعیت انتشار</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in object_list %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td><img src='{{ article.image.url }}' class='img-responsive' width=120px></td>
                        <td>{{ article.description|truncatewords:'20' }}</td>
                        <td>{{ article.categoryList }}</td>
                        <td>{{ article.author.get_full_name }}</td>
                        <td>{{ article.jpublished }}</td>
                        <td>
                            {% if article.status == 'p' %}
                                <span class="badge badge-success">منتشر شده</span>
                                <a href="{% url 'blog:single' article.slug %}">
                                    <span class="badge badge-primary">نمایش در سایت</span>
                                </a>
                            {% else %}
                                <span class="badge badge-danger">پیش نویس</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
        <!-- /.card -->
        </div>
    </div>
{% endblock %}