{% extends 'registration/base.html' %}
{% block main %}
	<div class="container">
		<div class="row text-right">
			<div class="col-md-8 mt-3 mx-auto mt-5">
				<div class="card card-success">
					<div class="card-header">
					    <h3 class="card-title float-right">تغییر گذرواژه</h3>
					</div>
					<div class="form-group p-3">
							<p class="text-success">با موفقیت تغییر پیدا کرد.</p>
							<a href="{% url 'account:profile' %}"><span class="btn btn-success">بازگشت به پروفایل کاربری</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}