{% extends 'registration/base_login.html' %}
{% load static %}
{% load widget_tweaks %}
{% block form %}
<form class="login100-form validate-form" method='POST'>{% csrf_token %}
	<span class="login100-form-title p-b-26 my_font">
		خوش آمدید
	</span>
	<span class="login100-form-title p-b-48">
		<i class="zmdi zmdi-font"></i>
	</span>

	<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
		{{ form.username|add_class:"input100" }}
		{% if form.username.errors %}
			{% for error in form.username.errors %}
				<span class="my_font">{{error}}</span>
			{% endfor %}
		{% endif %}
		<span class="focus-input100" data-placeholder="نام کاربری"></span>
	</div>
  <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
		{{ form.email|add_class:"input100" }}
		{% if form.email.errors %}
			{% for error in form.email.errors %}
				<span class="my_font">{{error}}</span>
			{% endfor %}
		{% endif %}
		<span class="focus-input100" data-placeholder="ایمیل"></span>
	</div>
  <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
		{{ form.password1|add_class:"input100" }}
		{% if form.password1.errors %}
			{% for error in form.password1.errors %}
				<span class="my_font">{{error}}</span>
			{% endfor %}
		{% endif %}
		<span class="focus-input100" data-placeholder="کلمه عبور"></span>
	</div>
  <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
		{{ form.password2|add_class:"input100" }}
		{% if form.password2.errors %}
			{% for error in form.password2.errors %}
				<span class="my_font">{{error}}</span>
			{% endfor %}
		{% endif %}
		<span class="focus-input100" data-placeholder="تایید کلمه عبور"></span>
	</div>
	<div class="container-login100-form-btn">
		<div class="wrap-login100-form-btn">
			<div class="login100-form-bgbtn"></div>
			<button class="login100-form-btn my_font">
				ثبت نام
			</button>
		</div>
	</div>
</form>
{% endblock %}